
.header__square-pic {
    height: 568px;
    width: 568px;
    background-color: #2f80ed;
    margin-top: 64px;
    position: absolute;
    z-index: 1;
    right: 0%;
    top: 0%;
    rotate: -15deg;
    animation: rotation 20s linear infinite;
  }

